  ::placeholder {
    text-align: center;
  }
  .textError{
    font-size: x-small;
    color: red;
    margin: 6px auto 6px auto;
  }
  #btnRegister{
    box-shadow: 1px 1px 1px 1px rgba(200, 147, 147, 0.3);
    background-color: white;
    color: #49484F;
    border: 3px solid #00BDE7;
    letter-spacing: 0.150em;
    
  }